body {
    background-color: #00BB8A; /* Set the background color to blue */
    width: 100vp;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.nav-buttons {
    width:100px;
    height:120px ;
    padding: 10px; /* Make the buttons larger */
    font-size: 60px; /* Increase the font size */
    border: none;
    border-radius: 5px;
    background-color: #f8f8f8;
    cursor: pointer;
    position: absolute;
    bottom: 25%;
}