body {
    background-color: #00BB8A; /* Set the background color to blue */
    width: 100vp;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.nav-buttons{
    
    width:300px;
    height:120px ;
    font-size: 80px; /* Increase the font size */
    border: none;
    border-radius: none;
    background-color: #f8f8f8;
    position: absolute;
    bottom: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}