<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Event News</title>
	<style>
    
</style>
		
	</style>
</head>
<body>
	<div class="image-map-container">
		<img src="{{ url_for('static', filename='images/barco008.jpg') }}" alt="Mapa de Eventos" usemap="#mapaImagen">
		<map name="mapaImagen">
			<area target="_blank" alt="imagen01" title="image001" href="/image001" coords="1589,1699,1056,893" shape="rect">
			<area target="_blank" alt="image002" title="image002" href="/image002" coords="2328,2094,2172,1988,2039,2007,1931,2129,1941,2229,1909,2306,1965,2383,1952,2460,1883,2542,1833,2757,1888,3019,1952,3112,1973,3189,2151,3263,2326,3181,2408,2895,2294,2463,2355,2285,2357,2158" shape="poly">
		</map>
	</div>
	

</body>
</html>
