	<!DOCTYPE html>
	<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Producto Destacado</title>
		<style>
			.container {
				text-align: center;
				margin: 20px;
			}
			.image {
				max-width: 100%;
				height: auto;
			}
			.description {
				font-size: 20px;
				color: #333;
			}
			.price {
				font-size: 24px;
				color: #007BFF;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<img src="{{ url_for('static', filename='images/img_10.jpg') }}" alt="Descripción de la imagen" class="image">
			<p class="description">Descripción del producto</p>
			<p class="price">$99.99</p>
		</div>
	</body>
	</html>	